# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Misc
*.log
bin
lib
build
build_win
build_linux
build_osx
notes
.vscode
.vs
CMakeSettings.json
.z3-*

stats/**/*.json
stats/**/*.tex
